/* Global Styles */
:root {
  --primary-color: #006aff;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #ff6774;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #141737;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.875rem 1.875rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease-in;
  outline: none;
  border-radius: 0.5rem;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

@media (max-width: 500px) {
  .btn-primary {
    display: block;
    width: 100%;
  }
}

@media (max-width: 290px) {
  .btn-primary {
    padding: 7px 13px;
    margin: auto;
  }
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn:hover {
  opacity: 0.8;
}

/* Forms */
input {
  margin: 1.2rem 0;
}

select {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

input[type='submit'],
button {
  font: inherit;
}

.signup-wrapper {
  display: grid;
  grid-template-columns: 30rem auto;
  width: 100%;
}

.left-image-container {
  height: 100% !important;
  width: 100% !important;
  background-color: #f3e8c9;
  position: relative;
  display: block;
}

.left-image-container .logo {
  position: absolute;
  bottom: 10%;
  left: 0;
}
.details-container {
  width: 100% !important;
  display: block;
  height: 100%;
  z-index: 1;
}
.register {
  padding: 2.188rem 3.75rem;
  width: 67.65vw;
  margin-left: 31.25vw;
  display: block;
  height: auto;
  z-index: 1;
}
@media (max-width: 1138px) {
  .register {
    margin-left: unset;
    width: 97vw;
  }
}
@media (max-width: 800px) {
  .register {
    padding: 2.188rem 1.375rem;
  }
}

.tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 2.5rem;
  border-bottom: 1px solid #e9eef4;
  padding-bottom: 1.5rem;
}
.register .btn-container {
  display: flex;
  margin-bottom: 4.063rem;
}
.register .log-out {
  margin-left: auto;
}

.tab-item,
.tab-item-active {
  height: auto;
  padding: 0.5rem 0;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.438rem;
}
.tab-item {
  color: #a5b4cb;
}

.number {
  margin-right: 0.75rem;
  padding: 0.5rem 1rem;
  border-radius: 0.194rem;
}

.active {
  background-color: var(--primary-color);
  color: #fff;
  font-weight: 700;
}

.inactive {
  color: #a5b4cb;
  background-color: #e4e9ef;
}

.tab-item-active {
  color: #141737;
  font-weight: 700;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.left-flex {
  position: fixed;
  width: 31.25vw !important;
  height: 100vh !important;
  left: 0;
  top: 0;
}

.verify,
.social,
.business {
  padding: 2.438rem 0;
}
.step {
  margin-bottom: 1.188rem;
  color: #a5b4cb;
  font-size: 13px;
  line-height: 17px;
}

.tab-heading {
  color: #141737;
  font-weight: bold;
  font-size: 1.625rem;
  line-height: 2.125rem;
  margin-bottom: 2.438rem;
}

.bvn-number-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.313rem;
  margin-bottom: 3.063rem;
}

.choose-method {
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  color: #141737;
  margin-bottom: 4px;
}

.btn-ash {
  background-color: #f5f6fa;
  color: #141737;
  font-weight: 600;
  font-size: 14px;
  line-height: 32px;
  padding: 5px 19px;
  border: 2px solid rgba(20, 23, 55, 0.1);
  border-radius: 10px;
}

@media (max-width: 340px) {
  .btn-ash {
    padding: 4px 10px;
  }
}

@media (max-width: 290px) {
  .btn-ash {
    padding: 2px 6px;
    font-size: 12.4px;
  }
}

.btn-blue-active {
  background: #dceaff;
  border: 2px solid #006aff;
}

.bvn-group {
  width: 100%;
}

input,
label {
  display: block;
  margin: 0;
}

label,
.pos-faq {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
  margin-bottom: 0.25rem;
}

.form-control {
  padding: 16px 17px;
  background-color: #ffffff;
  border: 1px solid #e4e9ef;
  border-radius: 12px;
  outline: none;
  font-size: 1rem;
  margin: 0;
  color: #7d8da7;
}

.bvn-control {
  width: 100%;
}
.bvn-faq {
  width: 100%;
  position: relative;
  display: block;
  margin-top: 1.75rem;
  border-radius: 5px;
  background: #e9eef4;
  padding: 18px 30px 22px 18px;
  cursor: pointer;
}

@media (max-width: 380px) {
  .bvn-faq {
    padding: 10px 20px 15px 10px;
  }
}

.visible {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.863rem;
  padding-bottom: 0.863rem;
}
.bvn-why {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.938rem;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}
.show-hide {
  border: none;
  position: relative;
  background: transparent;
  outline: none;
  cursor: pointer;
  font-size: 9px;
  line-height: 12px;
  font-weight: 600;
  color: #5257f5;
}
.show-hide svg {
  position: absolute;
  right: -50%;
  top: 50%;
  transform: translateY(-50%);
  transition: all 300ms ease-in-out;
}

.rotate-svg {
  transform: rotate(180deg);
}

.content {
  width: 100%;
  padding-left: 1.75rem;
  padding-right: 1.75rem;
  font-size: 14px;
  line-height: 14px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 500ms ease-in-out;
}

@media (max-width: 380px) {
  .content {
    font-size: 13px;
  }
}

.drop-height {
  max-height: 18rem;
}
.we-only-need {
  margin-bottom: 0.688rem;
  opacity: 0.8;
}

.we-only-need-list-item {
  margin-bottom: 12px;
  opacity: 0.8;
}
.horizontal-rule {
  width: 100%;
  opacity: 0.3;
  border-bottom: 1px solid #a5b4cb;
  margin: 15px 0;
}

.no-access {
  font-weight: 600;
  line-height: 15px;
}
@media (max-width: 600px) {
  .no-access {
    text-align: center;
    line-height: 18px;
  }
}
@media (max-width: 380px) {
  .no-access {
    text-align: left;
    line-height: 18px;
    font-size: 0.7rem;
  }
}

.account-number-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
.account-number-group .form-group,
input {
  width: 100%;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.select {
  position: relative;
}
.select svg {
  position: absolute;
  right: 5%;
  top: 65%;
  cursor: pointer;
}

.cta-button {
  border-top: 1px solid #e9eef4;
  margin-top: 2rem;
  padding-top: 0.813rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 500px) {
  .cta-button {
    flex-direction: column;
    width: 100%;
    gap: 2rem;
  }
}

/*SOCIAL*/
.social {
  width: 100%;
}
.social-heading {
  margin: 0;
}
.social-handles {
  color: #a5b4cb;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 2.438rem;
}

.abeg-form,
.social-media,
.business-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  margin-bottom: 1.625rem;
}

@media (max-width: 600px) {
  .abeg-form,
  .social-media,
  .business-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: unset;
  }
}

.abeg-input,
.twitter-form,
.insta-form {
  width: 100%;
}
.ghost {
  width: 100%;
}

/*BUSINESS*/
.business-form .form-group {
  width: 100%;
}
.pos-for-business {
  display: block;
  width: 100%;
}
.yes-no {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.313rem;
}
@media (max-width: 600px) {
  .pos-for-business {
    margin-top: 2rem;
  }
}

.tab-item-complete {
  display: none;
}
